.beater__main {
  width:70%;
  height: 100vh;
  margin: auto;
  position: relative;
  color: #fff;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  &-title {
    font-size: $font-xxl;
    font-weight: 900;
    margin-bottom: $m-size;
  }

  &-subtitle {
    margin-bottom: 0;
  }

  &-start-button {
    text-transform: uppercase;
    color: #fff;
    border: none;
    font-weight: 700;
    border-radius: 20px;
    margin-top: $padding-xl;
    padding: $padding-sm $padding-xl;
    font-size: $font-xs;
    @include linearGradient(180deg, $pink, $purple);
    @include boxShadow($pink);
  }
}

.beater__game {
  color: #fff;
  width: 100%;
  height: 100vh;
  position: relative;

  &-wrapper {
    width: 70%;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  &-widgets {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: $padding-sm $padding-xl;
  }

  &-widgets-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    h2 {
      font-size: $font-md;
      margin-top: $s-size;
    }

    h2.timeRunningOut {
      color: $red;
      @include textShadow($red);
      @include animation(shrinkGrow, .5s, infinite)
    }

    span {
      color: rgba(255, 255, 255, .5);
    }

  }

  &-current {
    padding: $padding-xs $padding-l;
    width: 100%;
    text-align: center;
    position: relative;

    &:after {
      content: '';
      position: absolute;
      width: 70%;
      height: 1px;
      background:rgba(255, 255, 255, .1);
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
    }

    h1 {
      @extend .beater__main-title;
      text-transform: lowercase;
      @include textShadow($pink);
      margin-top: $padding-sm;
    }

    p {
      font-size: $s-size;
      color: rgba(255, 255, 255, .5);
      letter-spacing: 2px;
    }

  }

  &-input {
    background: transparent;
    padding: $padding-md;
    padding-bottom: $padding-xs;
    font-size: $font-md;
    color: #fff;
    border: none;
    border-bottom: 1px solid #fff;
    text-align: center;

    &:focus {
      outline: none;
    }
  }

  &-greet {
    position: fixed;
    top: 0;
    margin: auto;

    h2 {
      opacity: 0;
      color: $yellow;
      @include textShadow($yellow);
      display: flex;
      justify-content: center;
      align-items: center;
      
      img {
        width: 20px;
        height: 20px;
        margin: 0 $m-size;
      }
    }

    h2.showGreet {
      @include animation(greet, .5s);
    }
  }
}

@include keyframes(greet) {
  0% {
    transform: scale(1.5);
    opacity: 0;
  }

  50% {
    transform: scale(1);
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@include keyframes(shrinkGrow) {
  from {
    transform: scale(1.5);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

.beater__gameover {
  color: #fff;
  width: 70%;
  height: 100vh;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  &-title {
    @extend .beater__main-title;
  }
}

.matched {
  color: $yellow;
}